.card-h1 {
  color: red;
}
.card {
  margin: 1rem;
  padding: 1rem;
  width: 500px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
}

@media only screen and (max-width: 750px) {
  .card {
    width: 84vw;
  }
}
